.mainContainer {
  letter-spacing: 0.05rem;
}
.mainPlanetName {
  font-size: 100px;
  font-weight: 200;
}
.planetDescription {
  line-height: 24px;
}

.descriptionLine {
  border-bottom: 1px solid white;
  margin-top: 50px;
  margin-bottom: 20px;
}
.distanceContainer {
  display: flex;
  justify-content: flex-start;
}
.distanceContainer :first-child {
  margin-right: 70px;
}
.distanceSubtitle {
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 10px;
}
.distanceValue {
  font-size: 25px;
  font-weight: 200;
}

@media screen and (max-width: 500px) {
  .distanceContainer {
    display: block;

    padding-bottom: 20px;
  }
  .distanceContainer :first-child {
    margin-right: 0;
  }
  .travelTimeDiv {
    margin-top: 20px;
  }
}
