.main-container {
  letter-spacing: 0.05rem;
}
.main-planet-name {
  font-size: 100px;
  font-weight: 200;
}
.planet-description {
  line-height: 24px;
}

.description-line {
  border-bottom: 1px solid white;
  margin-top: 50px;
  margin-bottom: 20px;
}
.distance-container {
  display: flex;
  justify-content: flex-start;
}
.distance-container :first-child {
  margin-right: 70px;
}
.distance-subtitle {
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 10px;
}
.distance-value {
  font-size: 25px;
  font-weight: 200;
}

@media screen and (max-width: 500px) {
  .distance-container {
    display: block;

    padding-bottom: 20px;
  }
  .distance-container :first-child {
    margin-right: 0;
  }
  .travel-time-div {
    margin-top: 20px;
  }
}
