.destination-background {
  background-image: url(../../../public/assets/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.main-content-div {
  display: flex;
  margin-left: 20vh;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 90%;
  padding-top: 15vh;
}
.destination-info-container {
  color: white;
  max-width: 450px;
  text-align: left;
}
.main-destination-picture {
  margin: auto;
  width: 90%;
}
.planets-name-button {
  border: none;
  background: transparent;
  color: white;
  font-size: 1.2rem;
  padding: 5px;
  border: none;
}

.planets-name-button:hover {
  text-decoration: underline;
}
.planets-name-buttons-container {
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
}
.main-title {
  color: white;
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
  .main-content-div {
    display: block;
    margin: auto;

    text-align: -webkit-center;
  }
  .main-destination-picture {
    max-width: 350px;
  }
  .destination-info-container {
    text-align: center;
  }
  .planets-name-buttons-container {
    align-items: center;
    justify-content: center;
  }
}
