.destinationBackground {
  background-image: url(../../../public/assets/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.mainContentDiv {
  display: flex;
  margin-left: 20vh;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 90%;
  padding-top: 15vh;
}
.destinationInfoContainer {
  color: white;
  max-width: 450px;
  text-align: left;
}
.mainDestinationPicture {
  margin: auto;
  width: 90%;
}
.planetsNameButton {
  border: none;
  background: transparent;
  color: white;
  font-size: 1.2rem;
  padding: 5px;
  border: none;
}

.planetsNameButton:hover {
  text-decoration: underline;
}
.planetsNameButtonsContainer {
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 900px) {
  .mainContentDiv {
    display: block;
    margin: auto;

    text-align: -webkit-center;
  }
  .mainDestinationPicture {
    max-width: 350px;
  }
  .destinationInfoContainer {
    text-align: center;
  }
  .planetsNameButtonsContainer {
    align-items: center;
    justify-content: center;
  }
}
