.main-technology-info-container {
  display: flex;
}
.terminology {
  font-weight: 100;
}

.main-technology-picture {
  max-width: 400px;
}
.description-info {
  max-width: 500px;
  line-height: 25px;
  font-size: 20px;
  margin-right: 100px;
}
.main-technology-info-name {
  font-size: 70px;
  font-weight: 200;
  margin-bottom: 20px;
}
@media screen and (max-width: 1000px) {
  .main-technology-info-container {
    display: block;
  }
  .main-technology-picture {
    width: 100%;
  }
  .description-info {
    text-align: center;
    margin: auto;
    padding-bottom: 30px;
  }
}
