.mainNavbarContainer {
  display: flex;
  width: 100%;
  padding-top: 30px;
  margin-left: 10vh;
}
.lineNavbar {
  border: 2px solid white;
  max-height: 1px;
  width: 450px;
  align-self: center;
  /* position: relative; */
  margin-left: 150px;
}

.navbarLinksContainer {
  backdrop-filter: blur(40.7742px);
  background: rgba(255, 255, 255, 0.04);
  align-self: center;
  margin-left: auto;

  padding-left: 60px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.navbarLinksContainer a {
  margin: 20px;
  text-decoration: none;
  color: white;
}
.navLogo {
  width: auto;
  height: 50px;
}
