.main-navbar-container {
  display: flex;
  width: 100%;
  padding-top: 30px;
  padding-left: 10vh;
}

.navbar-links-container {
  backdrop-filter: blur(40.7742px);
  background: rgba(255, 255, 255, 0.04);
  align-self: center;
  margin-left: auto;
  padding: 30px;
}
.navbar-links-container a {
  margin: 20px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar-links-container a:hover {
  text-decoration: underline;
}
.nav-logo {
  width: auto;
  height: 50px;
}
@media screen and (max-width: 750px) {
  .main-navbar-container {
    display: none;
  }
}
