.crewBackground {
  background-image: url(../../../public/assets/crew/background-crew-desktop.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}
.crewInfoHiding {
  display: none;
}
.mainCrewPicture {
  max-width: 600px;
  height: auto;
}

.crewButton {
  border: 3px solid rgb(185, 185, 185);
  border-radius: 50%;
  margin: 10px;
  margin-top: 100px;
}
.crewButtonCircle {
  background-color: rgb(185, 185, 185);
  width: 10px;
  height: 10px;
}
.crewButton:hover {
  border: 4px solid rgb(185, 185, 185);
  transition: 0.1s ease-in-out;
}
.mainContentCrewDiv {
  display: flex;
  margin-left: 20vh;
  justify-content: space-around;
  margin: auto;
  margin-top: 15vh;
  width: 90%;
  letter-spacing: 0.05rem;
}
.crewInfoContainer {
  max-width: 500px;
  text-align: left;
}

@media screen and (max-width: 1000px) {
  .mainContentCrewDiv {
    display: block;
    padding-top: 15vh;
    margin-top: 0;
    text-align: -webkit-center;
  }
  .mainCrewPicture {
    max-width: 350px;
  }
}

@media screen and (max-width: 760px) {
  .crewBackground {
    background-image: url(../../../public/assets/crew/background-crew-mobile.jpg);
  }
}
